<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>77703006770-qd5m9ev8tu419gnthoo4019m62elaiqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.77703006770-qd5m9ev8tu419gnthoo4019m62elaiqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDDS5jFmttO08g6ScfvNOIaINZaXSw5Vfg</string>
	<key>GCM_SENDER_ID</key>
	<string>77703006770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PeterLarochkin.weather</string>
	<key>PROJECT_ID</key>
	<string>weather-84bbc</string>
	<key>STORAGE_BUCKET</key>
	<string>weather-84bbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77703006770:ios:d0f89552d469d04dee4a2b</string>
</dict>
</plist>